body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}


h2 {
    color: #333333;
}

label {
    display: block;
    margin-bottom: 8px;
    color: #555555;
}

.scrollable-list {
    margin-top: 40px;
    max-height: 400px;
    overflow-y: auto;
    margin: 50 auto;
}
.list-item {
display: flex;
justify-content: space-between;
align-items: center;
padding: 10px;
border-bottom: 1px solid #ddd;
}

.list-item:nth-child(odd) {
background-color: #f9f9f9;
}

.list-item:nth-child(even) {
background-color: #fff;
}

.action-icons {
display: flex;
gap: 10px;
}

.action-icons i {
cursor: pointer;
}